body {
	<!-- color: green; -->
	background-image: url('../Practice/picture.jpg');
	background: #fff;
	margin: 0;
	padding: 0;
	font-family: Georgia, Palatino, serif; <!--字型 -->
}

#top {
	margin: 0px auto;
	width: 100%;
	height: 80px;
	background: #34b496;
}

#logo_girl {
	width: 122px;
	height: 80px;
	margin: 0px 8px 0px 8px;
	display: inline-block;

}

#store_logo {
	width: 170px;
	height: 80px;
	display: inline-block;
	position: absolute;
	background-size: 30% 100px;
	
}



#second {
	margin: 0px auto;
	width: 100%;
	height: 40px;
	border-bottom: 0.5px  #b5b5b5 solid;
}

h1 {
	color: pink;
}

p.spread {
	text-decoration: underline overline;  <!-- underline下底線 overline上底線 -->
	word-spacing: 30px;  <!-- 字間放大 -->

}

p.tight {
	word-spacing: -0.5em; <!-- 字間緊縮 -->
}

#context {
	font-size: 2em;   <!-- 使用em設置字體大小，數字越小字型越小 -->
	<!-- font-size: 100%   使用百分比表示，100%為一般字型，數字越小字型越小(ex:50%) -->

}

.paragraph {      <!-- .class名稱  -->
	text-align: center;
	background: pink;
}

.paragraph #KalobsLink {
	color: blue;
	a:link{ text- };
}

#side {           <!-- #id名稱  -->
	color: blue;
	font-style: italic;  <!--斜體 -->
	text-align: right;
	margin-top: 0.5px;
	padding: 10px;
	border: 1px dotted #000;
} 

table {
	border: 3px  gray;
	outline-style: dotted;
}

.nametable {   <!-- 表格文字 -->
	text-align: center;
	padding: 5px;
	margin-left: 5px;    <!-- margin外邊距 上右下左 -->
}

.box {
	margin-top: 10px;
	padding: 0px;
	border: 0px;
	width: 100%;
	height: 150px;
	background: pink;
	
} 

.outer {
	display: inline-block;
	width: 150px;
	height: 150px;
	background: blue;
} 

.inner {
	
	width: 50px;
	height: 150px;
	background: red;
	
}


.pos_abs {
	position: absolute;    <!-- absolute絕對定位 整個畫面的定位 -->
	left: 100px;
	top: 150px;
}

.pos_left {                 <!-- relative相對定位  在旁邊元素進行移動 -->
	position: relative;
	left: -20px;
}

.one {                    <!--  fixed 固定定位，元素會相對瀏覽器的視窗來定位，即使頁面被捲動，元素仍然會在相同的位置上 -->
	position: fixed;
	left: 5px
	top: 5px;
}

.two {
	position: fixed;
	left: 30px;
	right: 5px;
}

.manypeople {            <!--  float  浮動 -->
	width: 50%;
	float: right; 
	margin: 10px;        
}